USE [master]
GO
/****** Object:  Database [VitaFarm]    Script Date: 19.04.2025 10:16:39 ******/
CREATE DATABASE [VitaFarm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VitaFarm', FILENAME = N'C:\Users\0_206_8\VitaFarm.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VitaFarm_log', FILENAME = N'C:\Users\0_206_8\VitaFarm_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VitaFarm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VitaFarm]
GO
/****** Object:  Table [dbo].[Ассортимент]    Script Date: 19.04.2025 10:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ассортимент](
	[UID] [int] NOT NULL,
	[Фотография] [image] NULL,
	[Название] [nvarchar](max) NOT NULL,
	[Описание] [nvarchar](max) NULL,
	[Производитель] [nvarchar](max) NOT NULL,
	[Цена] [money] NOT NULL,
	[Измерение] [nvarchar](max) NOT NULL,
	[Количество] [nvarchar](max) NOT NULL,
	[Скидка] [real] NOT NULL,
 CONSTRAINT [PK_Ассортимент] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 19.04.2025 10:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[UID] [int] NOT NULL,
	[Фамилия] [nvarchar](max) NOT NULL,
	[Имя] [nvarchar](max) NOT NULL,
	[Отчество] [nvarchar](max) NULL,
	[Телефон] [nvarchar](50) NOT NULL,
	[Роль] [int] NOT NULL,
	[Логин] [nvarchar](50) NOT NULL,
	[Пароль] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Покупатели] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ПунктыВыдачи]    Script Date: 19.04.2025 10:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ПунктыВыдачи](
	[UID] [int] NOT NULL,
	[Название] [nvarchar](max) NULL,
	[Город] [nvarchar](max) NOT NULL,
	[Улица] [nvarchar](max) NOT NULL,
	[Здание] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ПунктыВыдачи] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Роли]    Script Date: 19.04.2025 10:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роли](
	[UID] [int] NOT NULL,
	[Роль] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Роли] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Состав]    Script Date: 19.04.2025 10:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Состав](
	[UID] [int] NOT NULL,
	[Медикомент] [int] NOT NULL,
	[Количество] [nvarchar](max) NULL,
	[Цена] [money] NOT NULL,
 CONSTRAINT [PK_Состав] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Талоны]    Script Date: 19.04.2025 10:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Талоны](
	[UID] [int] NOT NULL,
	[Дата заказа] [date] NOT NULL,
	[Покупатель] [int] NOT NULL,
	[Состав] [int] NOT NULL,
	[Сумма] [money] NOT NULL,
	[Скидка] [real] NULL,
	[Пункт выдачи] [int] NOT NULL,
 CONSTRAINT [PK_Талоны] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Ассортимент] ([UID], [Фотография], [Название], [Описание], [Производитель], [Цена], [Измерение], [Количество], [Скидка]) VALUES (1, NULL, N'Экстракт Пустырника', NULL, N'Велфарм', 150.0000, N'Упаковки 400гр', N'100', 2)
GO
INSERT [dbo].[Пользователи] ([UID], [Фамилия], [Имя], [Отчество], [Телефон], [Роль], [Логин], [Пароль]) VALUES (1, N'Домодедов', N'Иван', N'Иванович', N'+7 (945) 912 56-65', 1, N'945', N'945')
INSERT [dbo].[Пользователи] ([UID], [Фамилия], [Имя], [Отчество], [Телефон], [Роль], [Логин], [Пароль]) VALUES (2, N'Пивоваров', N'Иван', N'Таранов', N'+7 (314) 945 45-54', 2, N'314', N'314')
INSERT [dbo].[Пользователи] ([UID], [Фамилия], [Имя], [Отчество], [Телефон], [Роль], [Логин], [Пароль]) VALUES (3, N'Шандралла', N'Магдалина', N'Николаевна', N'+7 (954) 956 56-73', 3, N'954', N'954')
GO
INSERT [dbo].[ПунктыВыдачи] ([UID], [Название], [Город], [Улица], [Здание]) VALUES (1, NULL, N'Хабаровск', N'Ленина', N'5')
GO
INSERT [dbo].[Роли] ([UID], [Роль]) VALUES (1, N'Администратор')
INSERT [dbo].[Роли] ([UID], [Роль]) VALUES (2, N'Покупатель')
INSERT [dbo].[Роли] ([UID], [Роль]) VALUES (3, N'Сотрудник')
GO
ALTER TABLE [dbo].[Пользователи] ADD  CONSTRAINT [DF_Пользователи_Логин]  DEFAULT ((0)) FOR [Логин]
GO
ALTER TABLE [dbo].[Пользователи] ADD  CONSTRAINT [DF_Пользователи_Пароль]  DEFAULT ((0)) FOR [Пароль]
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD  CONSTRAINT [FK_Пользователи_Роли] FOREIGN KEY([Роль])
REFERENCES [dbo].[Роли] ([UID])
GO
ALTER TABLE [dbo].[Пользователи] CHECK CONSTRAINT [FK_Пользователи_Роли]
GO
ALTER TABLE [dbo].[Состав]  WITH CHECK ADD  CONSTRAINT [FK_Состав_Ассортимент] FOREIGN KEY([Медикомент])
REFERENCES [dbo].[Ассортимент] ([UID])
GO
ALTER TABLE [dbo].[Состав] CHECK CONSTRAINT [FK_Состав_Ассортимент]
GO
ALTER TABLE [dbo].[Талоны]  WITH CHECK ADD  CONSTRAINT [FK_Талоны_Пользователи] FOREIGN KEY([Покупатель])
REFERENCES [dbo].[Пользователи] ([UID])
GO
ALTER TABLE [dbo].[Талоны] CHECK CONSTRAINT [FK_Талоны_Пользователи]
GO
ALTER TABLE [dbo].[Талоны]  WITH CHECK ADD  CONSTRAINT [FK_Талоны_ПунктыВыдачи] FOREIGN KEY([Пункт выдачи])
REFERENCES [dbo].[ПунктыВыдачи] ([UID])
GO
ALTER TABLE [dbo].[Талоны] CHECK CONSTRAINT [FK_Талоны_ПунктыВыдачи]
GO
ALTER TABLE [dbo].[Талоны]  WITH CHECK ADD  CONSTRAINT [FK_Талоны_Состав] FOREIGN KEY([Состав])
REFERENCES [dbo].[Состав] ([UID])
GO
ALTER TABLE [dbo].[Талоны] CHECK CONSTRAINT [FK_Талоны_Состав]
GO
USE [master]
GO
